In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

In [2]:
i= 0
urls = [
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=10&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=11&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=12&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=13&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=14&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=15&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=16&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=17&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=18&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=19&sort=PRONAC:asc',
    'http://versalic.cultura.gov.br/#/projetos?limit=12&offset=0&ano_projeto=20&sort=PRONAC:asc',
]

In [3]:
p = []
pageCount = 0
pageToScrape = 10
j = 0

In [60]:
option = Options()
driver = webdriver.Chrome(options = option)

driver.get(urls[i])

time.sleep(5)

driver.find_element_by_xpath('//*[@id="app-outlet-container"]/app-busca/div/div[3]/div/div[2]/div').click()
driver.find_element_by_xpath('//*[@id="app-outlet-container"]/app-busca/div/div[3]/div/div[2]/div/ul/li[4]/a').click()

In [61]:
pageCount = 0
toinput = []
while(pageCount< pageToScrape and i <= len(urls)):
    time.sleep(5)
    projetos = driver.find_elements_by_class_name('card')
    for projeto in projetos:
        area = projeto.find_element_by_xpath('.//div[@class = "card-resposta texto-elipsado"]/div[1]/div[3]/p[2]').text
        data = projeto.find_element_by_xpath('.//div[@class = "card-resposta texto-elipsado"]/div[3]/div[1]/p[2]').text
        municipio = projeto.find_element_by_xpath('.//div[@class = "card-resposta texto-elipsado"]/div[3]/div[2]/p[2]').text
        valor_proposta = projeto.find_element_by_xpath('.//div[@class = "card-resposta texto-elipsado"]/div[4]/div[1]/p[2]').text
        valor_captado = projeto.find_element_by_xpath('.//div[@class = "card-resposta texto-elipsado"]/div[4]/div[2]/p[2]').text
        item = {
            'area': area,
            'data': data,
            'ano': 2010+i,
            'municipio': municipio,
            'valor_proposta': valor_proposta,
            'valor_captado': valor_captado
        }
        toinput.append(item)
    
    pageCount+=1
    element = WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH,'//*[@id="app-outlet-container"]/app-busca/div/div[3]/div/div[3]/pagination/ul/li[last()]/a')))
    element.click()
    print('Paginas scrapeadas: ', j)
    j+=1
    time.sleep(5)
    

i+=1
driver.quit()
p+=toinput

Paginas scrapeadas:  111
Paginas scrapeadas:  112
Paginas scrapeadas:  113
Paginas scrapeadas:  114
Paginas scrapeadas:  115
Paginas scrapeadas:  116
Paginas scrapeadas:  117
Paginas scrapeadas:  118
Paginas scrapeadas:  119
Paginas scrapeadas:  120

In [62]:
print(len(p))

11000

In [63]:
print(i)

11

In [64]:
df = pd.DataFrame(p)
df

,area,data,ano,municipio,valor_proposta,valor_captado
0,Artes Integradas,01/06/2010 - 30/06/2010,2010,"Bento Gonçalves, RS","R$ 79.700,00","R$ 0,00"
1,Artes Integradas,01/03/2010 - 30/08/2010,2010,"Rio de Janeiro, RJ","R$ 1.141.125,00","R$ 450.000,00"
2,Humanidades,01/03/2010 - 30/09/2010,2010,"Americana, SP","R$ 13.500,00","R$ 0,00"
3,Música,01/03/2010 - 03/05/2010,2010,"Goiânia, GO","R$ 261.140,00","R$ 0,00"
4,Música,01/03/2010 - 31/12/2010,2010,"Brasília, DF","R$ 291.595,00","R$ 0,00"
...,...,...,...,...,...,...
10995,Humanidades,15/04/2020 - 31/12/2021,2020,"Natal, RN","R$ 305.380,46","R$ 244.304,00"
10996,Humanidades,01/05/2020 - 31/03/2023,2020,"Guararema, SP","R$ 421.237,30","R$ 0,00"
10997,Música,30/01/2020 - 31/12/2021,2020,"Rio de Janeiro, RJ","R$ 404.291,11","R$ 295.000,00"
10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,"Teresina, PI","R$ 998.497,50","R$ 0,00"
10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,"São Paulo, SP","R$ 199.445,40","R$ 15.000,00"

In [65]:
df.to_csv('rouanet1020.csv')

In [3]:
df2 = pd.read_csv('rouanet1020.csv')
df2

,Unnamed: 0,area,data,ano,municipio,valor_proposta,valor_captado
0,0,Artes Integradas,01/06/2010 - 30/06/2010,2010,"Bento Gonçalves, RS","R$ 79.700,00","R$ 0,00"
1,1,Artes Integradas,01/03/2010 - 30/08/2010,2010,"Rio de Janeiro, RJ","R$ 1.141.125,00","R$ 450.000,00"
2,2,Humanidades,01/03/2010 - 30/09/2010,2010,"Americana, SP","R$ 13.500,00","R$ 0,00"
3,3,Música,01/03/2010 - 03/05/2010,2010,"Goiânia, GO","R$ 261.140,00","R$ 0,00"
4,4,Música,01/03/2010 - 31/12/2010,2010,"Brasília, DF","R$ 291.595,00","R$ 0,00"
...,...,...,...,...,...,...,...
10995,10995,Humanidades,15/04/2020 - 31/12/2021,2020,"Natal, RN","R$ 305.380,46","R$ 244.304,00"
10996,10996,Humanidades,01/05/2020 - 31/03/2023,2020,"Guararema, SP","R$ 421.237,30","R$ 0,00"
10997,10997,Música,30/01/2020 - 31/12/2021,2020,"Rio de Janeiro, RJ","R$ 404.291,11","R$ 295.000,00"
10998,10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,"Teresina, PI","R$ 998.497,50","R$ 0,00"
10999,10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,"São Paulo, SP","R$ 199.445,40","R$ 15.000,00"

In [16]:
uflist = []

for i in range(len(df2)):
    splited_string = df2.loc[i, "municipio"].split(', ')
    df2.loc[i, "municipio"] = splited_string[0]
    uflist.append(splited_string[1])


df2["uf"] = uflist

In [17]:
df2

,Unnamed: 0,area,data,ano,municipio,valor_proposta,valor_captado,uf
0,0,Artes Integradas,01/06/2010 - 30/06/2010,2010,Bento Gonçalves,79700.00,0.0,RS
1,1,Artes Integradas,01/03/2010 - 30/08/2010,2010,Rio de Janeiro,1141125.00,450000.0,RJ
2,2,Humanidades,01/03/2010 - 30/09/2010,2010,Americana,13500.00,0.0,SP
3,3,Música,01/03/2010 - 03/05/2010,2010,Goiânia,261140.00,0.0,GO
4,4,Música,01/03/2010 - 31/12/2010,2010,Brasília,291595.00,0.0,DF
...,...,...,...,...,...,...,...,...
10995,10995,Humanidades,15/04/2020 - 31/12/2021,2020,Natal,305380.46,244304.0,RN
10996,10996,Humanidades,01/05/2020 - 31/03/2023,2020,Guararema,421237.30,0.0,SP
10997,10997,Música,30/01/2020 - 31/12/2021,2020,Rio de Janeiro,404291.11,295000.0,RJ
10998,10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,Teresina,998497.50,0.0,PI
10999,10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,São Paulo,199445.40,15000.0,SP

In [5]:
for i in range(len(df2)):
    df2.loc[i, "valor_proposta"] = df2.loc[i, "valor_proposta"].replace('R$ ', "")
    df2.loc[i, "valor_proposta"] = df2.loc[i, "valor_proposta"].replace('.', "")
    df2.loc[i, "valor_proposta"] = df2.loc[i, "valor_proposta"].replace(',', ".")
    df2.loc[i, "valor_captado"] = df2.loc[i, "valor_captado"].replace('R$ ', "")
    df2.loc[i, "valor_captado"] = df2.loc[i, "valor_captado"].replace('.', "")
    df2.loc[i, "valor_captado"] = df2.loc[i, "valor_captado"].replace(',', ".")


df2

,Unnamed: 0,area,data,ano,municipio,valor_proposta,valor_captado
0,0,Artes Integradas,01/06/2010 - 30/06/2010,2010,"Bento Gonçalves, RS",79700.00,0.00
1,1,Artes Integradas,01/03/2010 - 30/08/2010,2010,"Rio de Janeiro, RJ",1141125.00,450000.00
2,2,Humanidades,01/03/2010 - 30/09/2010,2010,"Americana, SP",13500.00,0.00
3,3,Música,01/03/2010 - 03/05/2010,2010,"Goiânia, GO",261140.00,0.00
4,4,Música,01/03/2010 - 31/12/2010,2010,"Brasília, DF",291595.00,0.00
...,...,...,...,...,...,...,...
10995,10995,Humanidades,15/04/2020 - 31/12/2021,2020,"Natal, RN",305380.46,244304.00
10996,10996,Humanidades,01/05/2020 - 31/03/2023,2020,"Guararema, SP",421237.30,0.00
10997,10997,Música,30/01/2020 - 31/12/2021,2020,"Rio de Janeiro, RJ",404291.11,295000.00
10998,10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,"Teresina, PI",998497.50,0.00
10999,10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,"São Paulo, SP",199445.40,15000.00

In [12]:
df2["valor_captado"] = df2['valor_captado'].astype('float')
df2["valor_proposta"] = df2['valor_proposta'].astype('float')

In [15]:
df2

,Unnamed: 0,area,data,ano,municipio,valor_proposta,valor_captado
0,0,Artes Integradas,01/06/2010 - 30/06/2010,2010,"Bento Gonçalves, RS",79700.00,0.0
1,1,Artes Integradas,01/03/2010 - 30/08/2010,2010,"Rio de Janeiro, RJ",1141125.00,450000.0
2,2,Humanidades,01/03/2010 - 30/09/2010,2010,"Americana, SP",13500.00,0.0
3,3,Música,01/03/2010 - 03/05/2010,2010,"Goiânia, GO",261140.00,0.0
4,4,Música,01/03/2010 - 31/12/2010,2010,"Brasília, DF",291595.00,0.0
...,...,...,...,...,...,...,...
10995,10995,Humanidades,15/04/2020 - 31/12/2021,2020,"Natal, RN",305380.46,244304.0
10996,10996,Humanidades,01/05/2020 - 31/03/2023,2020,"Guararema, SP",421237.30,0.0
10997,10997,Música,30/01/2020 - 31/12/2021,2020,"Rio de Janeiro, RJ",404291.11,295000.0
10998,10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,"Teresina, PI",998497.50,0.0
10999,10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,"São Paulo, SP",199445.40,15000.0

In [18]:
df2.dtypes

Unnamed: 0          int64
area               object
data               object
ano                 int64
municipio          object
valor_proposta    float64
valor_captado     float64
uf                 object
dtype: object

In [23]:
df2 = df2.drop("Unnamed: 0", 1)

In [24]:
df2.to_csv('rouanet1020final.csv')

In [25]:
df3 = pd.read_csv('rouanet1020final.csv')

In [26]:
df3

,Unnamed: 0,area,data,ano,municipio,valor_proposta,valor_captado,uf
0,0,Artes Integradas,01/06/2010 - 30/06/2010,2010,Bento Gonçalves,79700.00,0.0,RS
1,1,Artes Integradas,01/03/2010 - 30/08/2010,2010,Rio de Janeiro,1141125.00,450000.0,RJ
2,2,Humanidades,01/03/2010 - 30/09/2010,2010,Americana,13500.00,0.0,SP
3,3,Música,01/03/2010 - 03/05/2010,2010,Goiânia,261140.00,0.0,GO
4,4,Música,01/03/2010 - 31/12/2010,2010,Brasília,291595.00,0.0,DF
...,...,...,...,...,...,...,...,...
10995,10995,Humanidades,15/04/2020 - 31/12/2021,2020,Natal,305380.46,244304.0,RN
10996,10996,Humanidades,01/05/2020 - 31/03/2023,2020,Guararema,421237.30,0.0,SP
10997,10997,Música,30/01/2020 - 31/12/2021,2020,Rio de Janeiro,404291.11,295000.0,RJ
10998,10998,Artes Cênicas,01/01/2020 - 30/06/2020,2020,Teresina,998497.50,0.0,PI
10999,10999,Artes Cênicas,20/03/2020 - 31/12/2021,2020,São Paulo,199445.40,15000.0,SP